<!-- <ion-header [translucent]="true"> -->
<ion-header>
  <ion-toolbar>
    <!-- <ion-title>
      Blank
    </ion-title> -->
    <ion-searchbar #conteudo [(ngModel)]="pesquisa" placeholder="Pesquisar"
      animated showCancelButton="never" spellcheck="true" mode="ios" autocorrect="on" clear-icon="close-circle">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h3>Aplicativos</h3> -->
  <!-- <list-apps (pesquisa) = "onMudouValor($event)"></list-apps> -->

  <list-apps [pesquisa]="pesquisa"></list-apps>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->


</ion-content>